<!-- <h1>{{ctrl.UserName}}</h1>
<input type="test" ng-model="ctrl.UserName"></input> -->
<p>This is the partial for clock.</p>

<section class="display">
    <span class="hours" >{{vm.hours}}</span> :
    <span class="minutes" >{{vm.minutes}}</span> :
    <span class="seconds" >{{vm.seconds}}</span>
</section>
<section class="controls">
    <button ng-click="vm.startClock()">Start</button>
    <button ng-click="vm.pauseClock()">Pause</button>
    <button ng-click="vm.stopClock()">Stop</button>
</section>