i {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: blue;
    border-radius: 50%;    
    position: absolute;    
    animation: moveX 3.05s linear 0s infinite alternate, 
    moveY 3.4s linear 0s infinite alternate;
}

  @keyframes moveX {
    from { left: 0; } 
    to { left: 480px; }
  }


  @keyframes moveY {
    from { top: 0; } 
    to { top: 280px; }
  }