<section class="display">
    <span class="hours">{{vm.hours|padToLeft}}</span>:
    <span class="minutes">{{vm.minutes|padToLeft}}</span>:
    <span class="seconds">{{vm.seconds|padToLeft}}</span>
</section>
<section class="controls">
    <button ng-click="vm.startClock()">Start</button>
    <button ng-click="vm.pauseClock()">Pause</button>
    <button ng-click="vm.stopClock()">Stop</button>
</section>