<section ng-if="vm.isLogged">
    <span>Bienvenido {{vm.userName}}</span>
    <form ng-submit="vm.search(vm.textToSearch)">
        <input type="text" ng-model="vm.textToSearch" />
        <button>Search</button>
    </form>
    <span ng-if="vm.showLoading">Loading...</span>
    <article ng-repeat="movie in vm.movies">
        <figure>
            <img src="{{movie.poster}}" title="{{movie.title}}" />
            <figcaption>{{movie.title}} ({{movie.year}})</figcaption>
        </figure>
    </article>
</section>