<form ng-if="!vm.isLogged" ng-submit="vm.login(vm.userName, vm.pass)">
    <label for="username">Username:</label>
    <input name="username" placeholder="Enter any user" type="text" ng-model="vm.userName" required/>
    <label for="password">Password:</label>
    <input name="password" placeholder="password is pass" type="password" ng-model="vm.pass" required/>
    <button>Login</button>
</form>
<button ng-if="vm.isLogged" ng-click="vm.logOut()">LogOut</button>