html{
    font-family: 'Lucida Sans' 
}

header{
    background-color: rgb(212, 199, 83);    
}

header a{
    display: flex;
    justify-content: flex-end;    
}


footer{
    background-color: rgb(212, 199, 83);
}
h1{
    display: flex;
    justify-content: flex-start;
}
nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: flex-end;
}


nav a {
    padding: 1.5em 2em;
    background-color: rgb(117, 80, 0);    
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);              

}

.widgetContainer{
    display: flex;
    background-color:goldenrod;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
 

 .widget{
    display: flex;    
    flex-flow: row;
} 
 .display{
    display: flex;        
    background-color: white;
    font-size: 4em;
}

.controls{
    display: flex;    
    flex-flow: column;    

}
button {
    background-color:chocolate;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;    
    padding: 1.5em 2em;
}